/*Сброс стандартных отступов*/
body {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", "Khmer UI";
}

/*Стили для шапки*/
header {
    display: flex;
    justify-content: center;
    background-color: orangered;
}
header > h1 {
    font-size: 2em;
}

/*Стили для секций, в которых хранится вся инфа о лекции*/
main {
    display: flex;
    align-items: center;
    flex-direction: column;
}
main section {
    min-width: 80%;
    border-bottom: 2px solid red;
    padding-bottom: 5px;
}

label h2 {
    font-size: 2em;
    max-width: 85%;
}
label i {
    position: absolute;
    font-size: 2em;
    color: black;
    top: 35px;
    left: 90%;
}
label .fa-caret-up {
    display: none;
}

.info {
    display: none;
    flex-direction: column;
    align-items: center;
}
.info strong {
    font-size: 1.25em;
}
.info ul li {
    font-size: 1.2em;
}

/*Для создания кликабильности*/
section label {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    cursor: pointer;
}
label .checkbox {
    display: none;
}

/*Стили для отображения дополнительной информации*/
.checkbox:checked ~ .info {
    display: flex;
}
.checkbox:checked ~ .fa-caret-up {
    display: block;
}
.checkbox:checked ~ .fa-caret-down {
    display: none;
}

/*При размере экрана <= 600, секция будет в ширину 100%*/
@media screen and (max-width: 600px) {
    main section {
        width: 100%;
    }
    section label {
        align-items: flex-start;
    }
    label h2 {
        margin-left: 10px;
    }
    label .info {
        flex-direction: column;
        align-items: center;
        margin-left: 10px;
    }
    .checkbox:checked ~ label .info {
        display: flex;
    }
}